.style-0 {
  background-color: #fff;
  border: 1px solid #000;
  -webkit-box-shadow: 4px 4px 0 0 #000;
  box-shadow: 4px 4px 0 0 #000
}
.style-1 {
  text-align: center;
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-0,
.style-1 {
  z-index: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4.778%;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 158px 0 0 45.71%;
  width: 20%
}
.style-1 {
  position: initial;
  margin: 8px 0 0;
  width: 100%
}